In [1]:
import torch.nn as nn
import torch

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tqdm.auto import tqdm, trange

In [3]:
from sklearn.neural_network import MLPClassifier

In [4]:
var = 9

In [15]:
data = pd.read_csv("train_var_9.csv")

In [6]:
data.head()

         x1        x2        x3  f
0  0.097915  0.095228  2.035907  C
1  0.995634  0.024319  2.332655  D
2  0.320553  1.843717  1.660744  D
3  0.397726  0.868866  0.603807  A
4  0.553225  1.397404  0.896461  C

In [16]:
from sklearn.model_selection import train_test_split, cross_val_score

In [17]:
from sklearn.preprocessing import StandardScaler, PolynomialFeatures, MinMaxScaler
from sklearn.pipeline import Pipeline

In [18]:
good = Pipeline((('scaler', MinMaxScaler()), ('clf', MLPClassifier(max_iter=3000, activation='tanh', hidden_layer_sizes=(100, 100), solver='lbfgs', ))))

In [19]:
X = data[['x1', 'x2', 'x3']]
y = data['f']

In [20]:
cross_val_score(good, X=X, y=y, n_jobs=2).mean()

0.9766666666666668

In [21]:
clf = Pipeline((('scaler', MinMaxScaler()), ('clf', MLPClassifier(max_iter=3000, activation='tanh', hidden_layer_sizes=(100, 100), solver='lbfgs', ))))
clf.fit(X, y)

Pipeline(steps=[('scaler', MinMaxScaler()),
                ('clf',
                 MLPClassifier(activation='tanh', hidden_layer_sizes=(100, 100),
                               max_iter=3000, solver='lbfgs'))])

In [22]:
data_test = pd.read_csv("test_var_9.csv")
data_test

           x1        x2        x3
0    0.796158  1.243306  0.257849
1    0.063555  0.777217  2.329269
2    0.038768  1.436683  0.962129
3    0.419080  1.192943  1.461746
4    0.913736  1.802542  2.879907
..        ...       ...       ...
195  0.411374  0.988186  1.005453
196  0.202187  1.483218  0.419149
197  0.766292  1.697947  1.592220
198  0.413054  0.717495  1.845131
199  0.380289  0.538727  0.572335

[200 rows x 3 columns]

In [23]:
ans = pd.DataFrame(clf.predict(data_test), columns=['Factor'])
ans

    Factor
0        C
1        D
2        C
3        D
4        B
..     ...
195      C
196      C
197      B
198      C
199      A

[200 rows x 1 columns]

In [15]:
ans.to_csv("ans.csv", index=False)